*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.border-test {
  border: 1px dashed red;
}


html {
  --page-color: #E5E4E2;
  --ink-color: #014479;
}
@media (prefers-color-scheme: dark) {
  html {
    --page-color: #014479;
    --ink-color: white;
  }
}
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.55;
  letter-spacing: 0.03ch;
  background-color: var(--page-color);
  color: var(--ink-color);
}
input {
  font-size: 1rem;
  background-color: var(--page-color);
  color: var(--ink-color);
  border-color: var(--ink-color);
  border-radius: 2px;
}
button {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  background-color: var(--ink-color);
  color: var(--page-color);
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  border-radius: 2px;
}



/* COLORS */

.unuscolor-txt {
  color: #014479;
}

.unuscolor-bg {
  background-color: #014479;
}

.duocolor-txt {
  color: #ff9900;
}

.duocolor-bg {
  background-color: #ff9900;
}

/* Video Masks  */

.png-video-mask{
  position: absolute;
  bottom: 0;
  right: -5%;
  min-width: 100%;

}


/* Profile Section */

.nameSection-ul {
  list-style: none;
  padding: 3px 5px;
}

.nameSection-name{
  font-size: 20px;
  font-weight: bold;
}

.nameSection-profession {
  font-size: 16px;
}

/* BTNS Section */

.txt-bold {
  font-weight: bold;
}

.txt-center{
  text-align: center;
}

.btns-btn_icon {
  min-width: 45px;
}



/*[label react-tabs-component/src/App.css]*/
 .tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}


/* FOOTER */


.footer-logo {
  max-width: 90px;
}